# 빌드된 바이너리와 임시 파일 제외
Binaries/
DerivedDataCache/
Intermediate/
Saved/
# Content 폴더 하위의 모든 파일 제외 (최상위 파일 제외)
BlockGame/
Hour_of_Code/
LearningKit_Games/
LearningKit_Robots/


.vscode

# Unreal Engine 관련 파일 제외
*.sln
*.opensdf
*.sdf
*.tlog
*.tmp
*.VC.db
*.pdb

# OS별 임시 파일 제외
.DS_Store
Thumbs.db
